name: Scheduled Update

on:
  schedule:
    - cron: '0 8 * * 6'

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Run script
        run: node updateValues.js

      - name: Commit and push changes
        run: |
          git config user.name "${{ secrets.USERNAME_GITHUB }}"
          git config user.email "${{ secrets.EMAIL_GITHUB }}"
          
          git add index.html
          git commit -m "Automatically update values"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_SCHEDULER }}
